@font-face {
    font-family: poppins;
    src: url("./../assets/fonts/Poppins/Poppins-Light.ttf");
}

*{
    font-family: poppins;
    font-weight: bolder;
}

.background{
    background-image: url("./../assets/images/fondo_yamaha_R7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.selected{
    color: #000E23;
    border-bottom: 4px solid #000E23;
}

.fondo_azul_oscuro{
    background-color: #000E23;
}
.texto_azul_oscuro{
    color: #000E23;
}